@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-color: #fcfdfd;
}

.text-color {
  color: #181e1b;
}

.p-color {
  color: #49a29E;
}

.s-color {
  color: #abcfcd;
}

.a-color {
  color: #89c2bf;
}

.card-background {
  background-color: #f3f8f7;
}
