@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-color: #fcfdfd;
}

.text-color {
  color: #181e1b;
}

.p-color {
  color: #49a29E;
}

.s-color {
  color: #abcfcd;
}

.s-bg {
  background-color: #abcfcd;
}

.a-color {
  color: #89c2bf;
}

.a-bg {
  background-color: #89c2bf;
}

.aa-color {
  color: #ddebe9;
}

.aa-bg {
  background-color: #ddebe9;
}

.card-color {
  color: #f3f8f7;
}

.card-background {
  background-color: #f3f8f7;
}

::-webkit-scrollbar {
  width: 12px;  
  height: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: #abcfcd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #89c2bf;
}

::-webkit-scrollbar-track {
  background: #ddebe9;
  border-radius: 10px;
}
